.boxOverlay alert {
    display: none;
}
.backgroundOverlay {
    display: none;
}
body {
    margin: 0 auto;
    padding: 0;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
}
h1 {
    font-size: 2em;
}
h2 {
    font-size: 1.8em;
}
h3 {
    font-size: 1.6em;
}
h4 {
    font-size: 1.4em;
}
h5 {
    font-size: 1.25em;
}
h6 {
    font-size: 1.15em;
}
.circle {
    border-radius: 100%;
}
.hidden {
    display: none;
}
.container {
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
   
}
.main {
    width: 100%;
}
